.wrapper {
    // display: flex;
    // // align-items: center;
    // justify-content: space-between;
    // padding: 40px 40px 10px 40px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    color: var(--text-color);
}

.search {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    // width: 100%;
    margin: 15px 0;

    // height: 100%;
    // border-radius: 25px;
    // padding: 10px 20px;
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    // background-color: var(--white);
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    // border: 1px solid #ccc;
    background-color: var(--sidebar-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    // padding: 8px 14px;
    // border: 1px solid #ccc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.counter-button {
    color: #888;
    padding: 12px 30px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--sidebar-color);
    border-radius: 20px;
    // &:first-child {
    //     border-top-left-radius: 20px;
    //     border-bottom-left-radius: 20px;
    // }

    // &:last-child {
    //     border-top-right-radius: 20px;
    //     border-bottom-right-radius: 20px;
    // }

    &:hover {
        background-color: rgb(230, 229, 229);
    }
}

.counter-value {
    width: 20px;
    text-align: center;
}

.inactive {
    // pointer-events: none;
    cursor: not-allowed;
    color: #ccc;
}

.search-btn {
    border-radius: 20px;
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 54px;
    // margin-top: 27px;
    width: 100%;
    // background-color: var(--search-btn-color);
    // border: 1px solid var(--primary);
    background-image: linear-gradient(to left, #a9d0eb, var(--primary));
    color: var(--sidebar-color);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

// .calendar {
//     display: none;
// }

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.user-name {
    margin-left: 10px;
}

.wrapper-inner {
    // position: relative;
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    // align-items: center;
    // border-radius: 20px;
    // background-color: #fff;
    // padding: 15px;
    // min-width: 200px;
    // font-size: 3rem;
    // cursor: pointer;
}

.calendar-check-in {
    // width: 50%;
    // position: relative;
    // left: 50%;
    // transform: translateX(-50%);
}

.calendar-check-out {
    // width: 50%;
    // position: relative;
    // right: 50%;
    // transform: translateX(50%);
    // width: 100%;
    // height: 100%;
    // background-color: var(--primary);
}

.calendar {
    // width: 100%;
    // display: flex;
    // align-items: center;
    
}

.icon {
    color: var(--primary);
}

.title {
    width: 100%;
    color: #8f8f8f;
    margin: 0 20px;
}

/* Form */
// .form {
//     padding: 0 10px;
//     display: flex;
//     justify-content: space-between;
//     height: 50px;
// }

.form-wrapper {
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 20px;
    width: 50%;
    margin: 15px auto 0 auto;
}

.form-select {
    // width: 70%;    
    outline: none;
    // font-size: 2rem;
    color: #8f8f8f;
    border: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.close-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--clear-btn-color);
    }
}

.hourly-button {
    // background-color: var(--primary);
    // color: var(--white);
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
    width: max-content;
    // text-align: center;
    margin: 20px auto 0 auto;
    // position: relative;
    // bottom: 10px;
    // left: 50%;
    // transform: translateX(-50%);

    &:hover {
        // opacity: 0.8;
        background-color: #ccc;
        color: var(--white);
    }
}