.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.comment-header {
    width: 25%;
    // text-align: center;
}

.user-score {
    color: #62bdfc;
    text-align: center;
}

.user-evaluation {
    color: #62bdfc;
    text-align: center;
}

.user {
    display: flex;
    align-items: center;
    // justify-content: space-between;
}

.user-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.comment-user {
    margin-left: 20px;
}

.date {
    font-size: 1.4rem;
    color: #ccc;
}

.comment-content {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    background-color: #62bdfc;
    color: #fff;
}