.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 528px;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    padding: 10px;
    // margin-bottom: 10px;
    cursor: pointer;
}

.inner {
    display: flex;
    align-items: center;
}

.img {
    border-radius: 20px;
    width: 80px;
    height: 70px;
}

.name {
    margin-left: 10px;
}

.location {
    display: flex;
}

.icon {
    color: var(--primary);
    margin-right: 5px;
}

.address {
    font-size: 1.2rem;
    color: #8f8f8f;
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.night {
    font-size: 1.2rem;
    color: #8f8f8f;
}