
.container {
    display: flex;
}

.content {
    position: absolute;
    right: 0;
    width: calc(80% + 170px);
    transition: width 0.5s;
    flex: 1; 
}

.children {
    margin-top: 120px;
    padding: 0 40px;
}

.toggle {
    width: 80%;
}