@import 'normalize.css';
// @import '../../../node_modules/flatpickr/dist/flatpickr.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #62bdfc;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --grey: #ccc;
    --background-color: #f3f5f7;

    --font-family: 'Poppins', sans-serif;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --padding-left: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: auto;
}

// Scrollbar CSS (custom scrollbar)
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts embeded
// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: ProximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
//     font-weight: 700;
// }

// @font-face {
//     font-family: SofiaPro;
//     src: url('/assets/fonts/sofiapro-bold.woff2');
//     font-weight: 700;
// }

// Custome Tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92) ;
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

.logo-link {
    display: flex;
    justify-content: center;
}

.logo-img {
    border-radius: 50%;
    height: 108px;
    width: 108px;
    margin: 10px 0;
}

// Modal
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;

    margin: auto;
    width: 70%;
    height: 70%;
    padding: 30px;
    border-radius: 20px;
    position: relative; 
    z-index: 1; 
    animation: growth linear 0.1s;
    background-color: #fff;
    overflow-y: auto;
}