.wrapper {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 15px;
    min-width: 200px;
    font-size: 1.6rem;
    cursor: pointer;
}

.icon {
    color: #62bdfc;
}

.title {
    width: 100%;
    color: #8f8f8f;
    margin: 0 20px;
}