.wrapper {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--sidebar-color);
    padding: 8px 14px;
    // border: 1px solid #ccc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    // min-width: 200px;
    // font-size: 1.6rem;
    // cursor: pointer;
}

.icon {
    color: var(--primary);
}

// .title {
//     width: 100%;

//     color: #8f8f8f;
//     margin: 0 20px;
// }

/* Form */
// .form {
//     padding: 0 10px;
//     display: flex;
//     justify-content: space-between;
//     height: 50px;
// }

.form-select {
    // width: 70%;
    // border-radius: 20px;
    outline: none;
    font-size: 1.6rem;
    color: #8f8f8f;
    background-color: var(--sidebar-color);
    border: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    // font-size: 2.5rem;
    // font-weight: 200;
    // padding: 0 10px;
}