// .header {
//     position: fixed;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     font-size: 1.8rem;
//     border-bottom: 1px solid #F5F5F5;
//     box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
//     background: var(--post-color);
//     padding: 20px 40px;
//     width: 100%;
//     z-index: 2;
// }

.nav {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    // float: right;
    align-items: center;
    // font-size: 1.8rem;
    // border-bottom: 1px solid #F5F5F5;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    background: var(--sidebar-color);
    padding: 15px 40px;
    width: 100%;
    z-index: 2;
}

.nav-item {
    position: relative;
    margin-left: 50px;
    color: var(--text-color);

    &:hover {
        color: var(--primary);
    }
} 

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    // padding: 0px 6px;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    // font-family: var(--font-family);
    background-color: rgb(221, 3, 3);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-name {
    margin-left: 10px;
}

.login {
    border: 1px solid var(--primary);
    padding: 6px 20px;
    border-radius: 20px;
}